*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --primary-background: white;
  --secondary-background: #1f1f24;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

header,
footer {
  background-color: var(--secondary-background);
  font-size: 1.2rem;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  z-index: 999;
}

#navbar {
  margin: 0;
  padding: 0 0.75rem;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid red;
}

#logo a {
  font-family: "Gugi", cursive;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
}

#toggle-menu-btn {
  font-size: 1.2em;
  margin: 1em;
}

.navlist {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -1000px;
  left: 0px;
  width: 100%;
  background-color: var(--secondary-background);
  opacity: 0.95;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navlist > li a {
  color: white;
  text-decoration: none;
}

#menu .navlist > li {
  width: 100%;
  padding: 1rem;
  margin: 0;
  text-align: center;
  border-bottom: 1px solid gray;
}

#menu .navlist.show {
  top: 75px;
}

#Welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../src/Home-background.jpg") center no-repeat;
  background-size: 1920px 1080px;
  padding: 5%;
  height: 100vh;
  text-shadow: 4px 3px 7px #0f0f13;
}

#Welcome-section h1 {
  font-size: 2.5em;
  margin: 0;
}

.resume-btn {
  color: white;
  text-shadow: none;
  text-decoration: none;
  padding: 10px;
  font-size: 1.4em;
  position: relative;
  top: 5%;
  z-index: 0;
  background-color: #ff2c2ce8;
  box-shadow: 7px 4px 6px 0px #0f0f13;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 10% 0 10%;
  font-size: 1.1em;
  color: grey;
  padding-top: 70px;
}

.content hr {
  width: 100%;
}

.content h2 {
  font-family: "Pacifico", cursive;
  font-size: 2em;
  margin: 0;
  color: #fa2a2ae8;
}

.profile-photo {
  border-radius: 50%;
  width: 200px;
  margin: 20px;
  border: 3px #9a9a9a solid;
}

.about-title {
  font-size: 1.5em;
}
.job-title {
  font-size: 1.2rem;
  display: block;
}

.project-tile {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5% 0px;
}
.project-tile > div {
  margin: 5%;
  transition: 0.5s ease;
}
.project-tile > div:hover {
  transform: scale(1.02);
  transition: 0.5s ease;
}

.project-tile > div a {
  width: 100%;
  display: block;
  border: 1px #9a9a9a solid;
  box-shadow: 1;
  box-shadow: 4px 5px 6px 0px #0f0f13a8;
}

.project-tile > div img {
  display: block;
  max-width: 100%;
  height: auto;
}

.project-tile > div:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
  box-shadow: 6px 5px 7px 0px #0f0f13a8;
}

.contact-icons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  margin: 5% 0;
  align-items: center;
}

.contact-icons > div {
  display: inline-flex;
  background-color: #faebc752;
  padding: 7%;
  border-radius: 50%;
  margin: 2%;
  color: #ff2c2ce8;
}

.contact-icons > div:hover {
  background-color: #333844;
  color: white;
}

footer {
  border-top: 3px solid red;
  text-align: center;
  padding: 0.5em;
  line-height: 1.2rem;
}

footer .profile-link {
  color: grey;
  margin: 0.5rem;
}

footer .profile-link:hover,
footer .profile-link:focus {
  outline: none;
  font-size: 1.1em;
  color: white;
}

.screen-line-break {
  display: block;
}

@media screen and (min-width: 400px) {
  body {
    font-size: 1.2rem;
  }
  footer .screen-line-break {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  #navbar {
    padding: 0 3rem;
    font-size: 1.5rem;
  }
  #toggle-menu-btn {
    display: none;
  }
  #menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #menu .navlist {
    flex-direction: row;
    background-color: var(--secondary-background);
    position: unset !important;
  }

  #menu .navlist > li {
    border: none;
    padding: 1rem 1.2rem;
  }

  #Welcome-section {
    height: 100vh;
    font-size: 1.5rem;
  }

  .content p {
    padding: 0 10%;
    line-height: 1.5em;
  }

  .project-tile > div {
    width: 48%;
    height: auto;
    margin: 1%;
  }

  .project-tile > div:hover {
    transform: scale(1.02);
    transition: 0.5s ease;
  }

  .screen-line-break {
    display: none;
  }
}
