*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --primary-background: white;
  --secondary-background: #1f1f24;
  --btn-highlight-clr: #db1717e8;
  --btn-clr: #b91a1a;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

header,
footer {
  background-color: var(--secondary-background);
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  z-index: 999;
}

#navbar {
  margin: 0;
  padding: 0 0.75rem;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid red;
}

#logo a {
  font-family: "Gugi", cursive;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
}

#toggle-menu-btn {
  font-size: 1rem;
  margin: 1em;
}

.navlist {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -1000px;
  left: 0px;
  width: 100%;
  background-color: var(--secondary-background);
  opacity: 0.95;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navlist > li a {
  color: white;
  text-decoration: none;
}

#menu .navlist > li {
  width: 100%;
  padding: 1rem;
  margin: 0;
  text-align: center;
  border-bottom: 1px solid gray;
}

#menu .navlist.show {
  top: 65px;
}

#Welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("./src/Home-background.jpg") center no-repeat;
  background-size: 1920px 1080px;
  padding: 5%;
  height: 100vh;
  text-shadow: 4px 3px 7px #0f0f13;
}

#Welcome-section h1 {
  font-size: 2.5em;
  margin: 0;
}

.btn {
  color: white;
  background-color: var(--btn-clr);
  cursor: pointer;
}

.resume {
  text-shadow: none;
  text-decoration: none;
  padding: 10px;
  font-size: 1.2em;
  position: relative;
  top: 5%;
  z-index: 0;
  box-shadow: 7px 4px 6px 0px #0f0f13;
  transition: 0.5s ease;
}

.resume:hover,
.resume:focus {
  transform: scale(1.1);
}

.btn:hover,
.btn:focus {
  outline: 0;
  background-color: var(--btn-highlight-clr);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 10% 0 10%;
  color: grey;
  padding-top: 70px;
}

.content hr {
  width: 100%;
}

.content p {
  line-height: 1.5rem;
}
.content h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  margin: 0;
  color: #d32222e8;
}

.profile-photo {
  border-radius: 50%;
  width: 200px;
  margin: 20px;
  border: 3px #9a9a9a solid;
}

.about-title,
.form-title {
  font-size: 1.4em;
  line-height: 1.2em;
  color: #5b5b5c;
}
.job-title {
  font-size: 0.75em;
  display: block;
}

.project-tile {
  display: flex;
  max-width: 850px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5% 0px;
}
.project-tile > div {
  margin: 5% 10%;
  transition: 0.5s ease;
  position: relative;
}

.project-tile > div a {
  width: 100%;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 1px #9a9a9a solid;
  background-color: rgba(0, 0, 0, 0.65);
  box-shadow: 4px 5px 6px 0px #0f0f13a8;
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none;
}

.project-tile > div img {
  display: block;
  max-width: 100%;
  height: auto;
}

.project-tile > div:hover,
.project-tile > div:focus {
  transform: scale(1.1);
  box-shadow: 6px 5px 7px 0px #0f0f13a8;
}

.project-tile > div:hover a,
.project-tile > div:focus a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

form {
  width: 100%;
  max-width: 650px;
  margin: 1rem 0;
}
.form-group {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1em 0;
}

.form-group label {
  margin: 0;
  font-size: 0.85rem;
  color: #0f0f13;
  margin: 0.75em 0;
}

.form-group > *:not(label) {
  padding: 1em;
  border: 1px solid #d2d6dc;
  border-radius: 5px;
}

.form-group *:not(label):focus {
  outline: none;
  box-shadow: 0px 0px 6px 4px #ebe5e5;
}

.contact-icons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  max-width: 650px;
}

.contact-icons div {
  margin: 1rem;
}

.contact-icons a {
  display: inline-flex;
  background-color: #faebc752;
  padding: 1rem;
  border-radius: 50%;
  margin: 2%;
  color: #ff2c2ce8;
  text-decoration: none;
}

.contact-icons a:hover {
  background-color: #333844;
  color: white;
}

footer {
  border-top: 3px solid red;
  margin-top: 1rem;
  text-align: center;
  padding: 0.5em;
  line-height: 1.2rem;
}

footer .profile-link {
  color: grey;
  margin: 0.5rem;
}

footer .profile-link:hover,
footer .profile-link:focus {
  outline: none;
  font-size: 1.1em;
  color: white;
}

.screen-line-break {
  display: block;
}

@media screen and (min-width: 420px) {
  body {
    font-size: 1.1rem;
  }
  footer .screen-line-break {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  #navbar {
    padding: 0 3rem;
    font-size: 1.3rem;
  }
  #toggle-menu-btn {
    display: none;
  }
  #menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #menu .navlist {
    flex-direction: row;
    background-color: var(--secondary-background);
    position: unset !important;
  }

  #menu .navlist > li {
    border: none;
    padding: 1rem 1.1rem;
  }

  #Welcome-section {
    height: 100vh;
    font-size: 1.3em;
  }

  .content p {
    max-width: 1200px;
    padding: 0 10%;
    line-height: 1.5rem;
  }

  .project-tile > div {
    width: 48%;
    height: auto;
    margin: 1%;
  }

  .project-tile > div:hover {
    transform: scale(1.02);
    transition: 0.5s ease;
  }

  .screen-line-break {
    display: none;
  }
}
